/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-image:url("owl_rain.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 750px;
  background-color: black;
  min-width: 270px
}

#new-user-page {
  margin-top: 10em;
  background-color: white;
  padding: 20px 40px 40px 40px;
  border-radius: 10px;
  opacity: 0.93;
  margin-left: 50px;
  margin-right: 50px;
  .header {
    border-bottom: 1px solid grey;
    margin-bottom: 20px;
    padding-left: 5px;
    color: grey;

    h1 {
      font-weight: lighter;
    }
  }

  #new-user-form {
    button {
      margin-top: 30px;
    }

    .form-control-msg {
      padding-left: 5px;
      &.error {
        color: red;
      }
      &.success {
        color: green;
      }
    }
  }
}
